.table{

}
body{
	background-color: #000000;

}

.collection {
	z-index: 0;
	overflow: visible;
	position: relative;
	display: block;
	height: auto;
	width: auto;
	margin: 10px 10px 10px 10px;
	padding: 20px 20px 20px 20px;
	outline: 0;
	border: 0;
	border-radius: 4px 4px 4px 4px;
	background: #EEEEEE;
	opacity: 1;
}












/*** LEGAL ***/

#legal {
	z-index: 0;
	overflow: hidden;
	position: relative;
	display: block;
	height: auto;
	width: auto;
	margin: 0;
	padding: 0;
	outline: 0;
	border: 2px transparent;
	border-radius: 0 0 20px 20px;
	background: #727272;
	opacity: .75;
}

#legal .content {
	z-index: 0;
	overflow: visible;
	position: relative;
	display: block;
	height: auto;
	width: auto;
	margin: 0;
	padding: 0;
	outline: 0;
	border: 0;
	border-radius: 0;
	background: transparent;
	opacity: 1;
}

#legal .content .wrap .copyright {
	z-index: 0;
	overflow: visible;
	position: relative;
	display: block;
	height: auto;
	width: auto;
	margin: 10px 10px 10px 10px;
	padding: 0;
	outline: 0;
	border: 0;
	border-radius: 0;
	background: transparent;
	opacity: 1;
	font: 400 18px/28px OpenSans, Helvetica, Arial;
	color: #CCCCCC;
	text-align: center;
	text-decoration: none;
	text-shadow: none;
	font-style: italic;
}